.bg-faded{
	background: #001c27;
}
#header-container{
	margin-bottom: 15px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link{
	color: white;
	font-size: 16px;
}

.navbar-nav a:hover, 
.navbar-nav a:visited, 
.navbar-nav a:active{
	background: #002c55;
}

.navbar-nav li div {
	background: #001c27;
}

.navbar-nav li div a{
	color: white;
}

footer{
	background: #001c27 !important;
	color: white;
	padding: 10px;
}