body{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001d27+0,0a4f5a+100 */
	background: #001d27; /* Old browsers */
	background: -moz-linear-gradient(top,  #001d27 0%, #0a4f5a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #001d27 0%,#0a4f5a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #001d27 0%,#0a4f5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d27', endColorstr='#0a4f5a',GradientType=0 ); /* IE6-9 */
	color: #cfcfcd;
    /*font-family: 'Lato';*/

	
}
            
.row{
	margin-top: 20px;
}
/*Estilos para la navegacion*/
.navbar-brand img{
   width:90%;
}

.navbar-toggleable-md .navbar-collapse{
	width: auto;
	margin-top: 10px;
}
.navbar-nav .nav-link{
	color:white;
}

.btn-in{
	background: #218597;
	padding: 0 15px;
	margin: 5px 10px;
	color:white;
}

.btn-in:hover{
	background: #218597;
	padding: 0 15px;
	margin: 5px 10px;
	color: #cfcfcd;
}

.btn-azul a{
	background: #218597;
	padding: 10px 15px;
	margin: 5px 10px;
	color: white;
}
.fa-bars{
	color: white;
}

/*Estilos para el home*/

#carousel-container{
	margin: 0;
	padding: 0;
}

#galeriaPrincipal .carousel-inner img{
	width: 100%;
	margin: 0 auto;

}

/*Estilos para el area de proceso de la app*/

.funcionamiento{
	background: #218597;
	border-radius: 50%;
	padding:30px;
	
}

.proceso-registro h4{
	margin: 10px 0;
}

.testimonios img{
	margin: 0 auto;
}

.videos{
	background: #004a58;
	padding: 20px 0;
}
/*fin de estilos del home*/

/*Estilos para el subfooter*/
.subfooter{
	background-color: #171b1d;
	padding: 10px 20px;
}

.subfooter h4{
	border-bottom: 1px solid #ced1cc;
	padding-bottom: 10px;
}

.subfooter ul{
    list-style: none;
}

.subfooter a{
	color:#ced1cc;
}

/*Estilos para pagina de planes*/
.encabezado-planes{
	background: url(/images/header-planes.jpg);
	height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#informacion{
	background: #ced1cc;
	color: #001921;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 270px;
	width: 100%;
}

.requisitos-informacion{
	list-style: none;
}

.card-block{
	padding: 0;
}

.titulo-azul{
	background: #608BB4;
	color: white;
	font-size: 20px;
	padding: 20px;
	border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    margin-bottom: 0;
    box-sizing: content-box;
}
.subtitulo-azul{
	background: #73A3D4;
	color: white;
	font-size: 25px;
	font-weight: 600;
	padding: 20px;
}
.list-group{
	color:#666;
}
.list-group, .boton-card{
	padding: 15px;
}
/*Estilos de footer*/

footer{
	padding: 10px 0;
	background: #001c27 !important;
	color: white;
}